

.grid{
    display: grid;
    margin-top: 0rem;
    width: auto;
    height: 600px;
    grid-template: 2fr 1fr 0.5fr 1fr 2fr 0.8fr/ 0.5fr 1fr 9fr 1fr 1fr 1fr 10fr ;
    
    
}
.sensor-reading-d{
    grid-column-start:3;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
    background-color: rgb(240, 239, 239);
    /* box-shadow: 7px 10px rgb(238, 236, 236); */
    
}
.graph{
    grid-column-start:7;
    grid-column-end:7;
    grid-row-start:1;
    grid-row-end:7;
    background-color: rgb(240, 239, 239);
    /* box-shadow: 7px 10px rgb(238, 236, 236); */
}
.condition-d{
    grid-column-start:2;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:7;
    background-color: rgb(240, 239, 239);
    /* box-shadow: 7px 10px rgb(238, 236, 236); */
}

.box{
    color: black;
    border-radius: 5px;
    /* border: 2px dodgerblue solid; */
}

.sensor-reading-d{

  text-align: center;
  font-family:  MonkeyactPersonaluse-8Me6Z;
  justify-content: space-between;
  
}
.sensor-reading-d h3{
    padding-top: 1rem;
    
}
.sensor-info-d{
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: auto;
    /* background-color: violet; */
   
  }
  .temp-d,.ultra-d,.ph-d p{
    display: flex;
    font-size: .99rem;
    font-weight: 300;
    line-height: 1rem;
    text-align: center;
    justify-content: space-between;
    letter-spacing : 0.09rem;
    padding-bottom :1rem;
    padding-left :3rem;
    padding-right : 5rem;
    padding-top: .5rem;
    margin: 0rem;
    
      
  }

     .temp-d{
       color:rgb(184, 66, 19);
     }
     .ultra-d{
       color:rgb(41, 101, 212);
       
     }
     .ph-d{
       color:chartreuse;
     }
     .temp_img-d{
        display: inline;
        height: 4vmin;
        
      }
      .ultra_img-d{
        display: inline;
        height: 4vmin;
        
      }
      .ph_img-d{
        display: inline;
        height: 4vmin;
      
      }
.Pond-actuator-history-d{
    /* background-color: teal; */
}
      .Pond-actuator-history-d p{
        position: relative;
        display: block;
        margin-top: 10px;
        margin-bottom:0;
        padding-top: 1vmin;
        padding-left: 0.2rem;
        padding-bottom: 2vmin;
        color: teal;
        font-weight: 600;
      }