.header-d{
    display: flex;
    margin-left: 7rem;
    
    /* background-color: tomato; */
}
.header-d h1{
    text-align: center;
    color:rgb(95, 94, 94);;
    padding-top: 2rem;
    
}
.link-d {
    text-align: right;
    padding-top: 10vmin;
    padding-left: 70%;
    color: rgb(95, 94, 94);;
    /* background-color: purple; */
}
