*{
  
}
.logo{
    margin-left: 0;
    background-color: white;
    height: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.3rem;
    
  }
  .tips link{
    color : rgba(128, 128, 128, 0.445);
  }
  .tips:visited{
    color : grey;
    text-decoration: none;
  }
  
  .App-Logo{
    
    padding-top: 10vmin;
    margin-top: 5rem;
    padding-left: 50rem;
    /* background-color: cornflowerblue; */
   
  }
  p{
    z-index: 0;
  }
  .img{
    
    background-color: chocolate;
    
  }
  .tips p{
    display: inline-block;
    text-align: right;
    position: relative;
    float: right;
    color: white;
    padding-right: 3rem;
  }
  .title{
    display: inline;
    float : left;
    /* background-color: ; */
  }
  .logo h2{
  
    display: inline;
    color: rgb(71, 70, 70);
    text-align: left;
   
  }
h1{
  padding-top: 0;
  font-family: MonkeyactPersonaluse-8Me6Z;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  /* color: white; */
}

.App-link {
  color: gray
}


